.cardListContainer {
  width: 100%;
}

.cardSection {
  width: 100%;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.emptyState {
  text-align: center;
  padding: 2rem;
  color: var(--color-text-sub);
}
